@import "~@progress/kendo-theme-default/scss/all";

body {
    padding-top: 60px;
}

.credentials-heading {
    margin: 0;
    padding: 0;
}

.login-error-message {
    margin-top: 15px;
}

.cursor-pointer {
    cursor: pointer;
}