<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-default">
			<div class="panel-body">
				<form [formGroup]="form" (ngSubmit)="submitForm(form)" class="k-form">
					<h2 class="text-center credentials-heading">Login</h2>
					<p class="text-center text-danger login-error-message" [hidden]="!showErrorMessage">Username or/and password invalid!</p>
					<div class="k-form-field">
						<span>Username</span>
						<input class="k-textbox" placeholder="Your Username" formControlName="username" />
						<span *ngIf="form.controls.username.touched && form.controls.username.invalid" class="text-danger small">The Username field is required!</span>
					</div>

					<div class="k-form-field">
						<span>Password</span>
						<input type="password" class="k-textbox" placeholder="Your Password" formControlName="password" />
						<span *ngIf="form.controls.password.touched && form.controls.password.invalid" class="text-danger small">The Password field is required!</span>
					</div>

					<div class="text-center">
						<button class="k-button k-primary" [disabled]="form.invalid || isLoginButtonDisabled">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>