<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a routerLink="/home" class="navbar-brand">Yeti</a>
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
		</div>
		<div class="navbar-collapse collapse" id="navbar-main">
			<ul class="nav navbar-nav">
				<li><a routerLinkActive="active" routerLink="/players/stats/grid">Dynamic Components</a></li>
				<li><a routerLinkActive="active" routerLink="/custom/pipe">Custom Pipes</a></li>
				<li><a routerLinkActive="active" routerLink="/custom/animations">Animations</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a *ngIf="isLoggedIn && isAdmin" routerLinkActive="active" routerLink="/admin/home">Admin</a></li>
				<li><a *ngIf="isLoggedIn " routerLinkActive="active" routerLink="/users/profile">Profile</a></li>
				<li><a *ngIf="!isLoggedIn" routerLinkActive="active" routerLink="/users/login">Login</a></li>
				<li><a *ngIf="!isLoggedIn" routerLinkActive="active" routerLink="/users/register">Register</a></li>
				<li><a *ngIf="isLoggedIn" class="cursor-pointer" (click)="logout()">Logout</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="container">
	<router-outlet></router-outlet>
</div>